{% extends "layouts/base.html" %}

{% block content %}
<div class="d-flex">
    {% include "layouts/sidebar.html" %}

    <div class = "w-100">
    {% include "layouts/header.html" %}
    <div class = "my-3 mx-3">
        <h1>Welcome</h1>
        <div class = "d-flex">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    
</div>
{% endblock content %}
