{% extends "layouts/base.html" %}


{% block content %}
<div class="d-flex">
    {% include "layouts/sidebar.html" %}

    <div class = "w-100">
    {% include "layouts/header.html" %}
    <div class = "my-3 mx-3">
        <h1>Login</h1>
        <form action="signin" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name='username'>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name='password'>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

    </div>
    </div>
    
</div>
{% endblock content %}